
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Alta Admin</title>
</head>
<body>
    <h1>Alta de Administrador</h1>
    <div>
        <form method="post" action="~/Admin/X">
            <input type="text" name="mail" />
            <input type="password" name="password" />
            <input type="text" name="nombreUser" />
            <input type="submit" value="Entrar" />
        </form>
        <p>@ViewBag.Mensaje</p>
    </div>
</body>
</html>
