
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <ul>
        <li>
            <p>Datos de prueba: </p>
            <ul>
                <li><p>(mail: administrador@gmail.com password: admin123)</p></li>
                <li><p>(mail: cliente-comun@gmail.com password: comun123)</p></li>
                <li><p>(mail: cliente-empresa@gmail.com password: empresa123)</p></li>
            </ul>
        </li>
    </ul>
    
    
    
    
    <div>
        <form method="post" action="~/Login/Login">
            <input type="text" name="mail"/>
            <input type="password" name="password"/>
            <input type="submit" value="Entrar"/>
        </form>
        <p>@ViewBag.Mensaje</p>
    </div>
</body>
</html>
