
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Login</h1>
    <p>Datos de prueba: </p>
    <p>(mail: eladmin@gmail.com password: admin123)</p>
    <p>(mail: cliente-comun@gmail.com password: comun123)</p>
    <p>(mail: cliente-empresa@gmail.com password: empresa123)</p>
    <div>
    </div>
</body>
</html>
