
@{
    ViewBag.Title = "ElAltaProducto";
}

<h2>ElAltaProducto</h2>
<form method="post" action="~/Producto/AltaProduc">
    <p>ALTA PRODUCTO</p>
    <label style="width:300px; text-align:center; color: black; font-family:'Agency FB'; font-size:18px">Nombre producto</label><br />
    <input type="text" name="nombreProducto" style="width:300px" /><br />
    <label style="width:300px; text-align:center; color: black; font-family:'Agency FB'; font-size:18px">Precio</label><br />
    <input type="number" name="precioUnitario" style="width:300px" /><br />
    <fieldset style="width:300px">
        <legend style="font-size:12px">Tipo de Moneda</legend>
        <input type="radio" name="tipoMoneda" value="UYP" /><label>UYP</label><br />
        <input type="radio" name="tipoMoneda" value="USD" /><label>USD</label><br />
    </fieldset>
    <fieldset style="width:300px">
        <legend style="font-size:12px">Producto Exclusivo</legend>
        <input type="radio" name="exclusivo" value="Normal" /><label>No</label><br />
        <input type="radio" name="exclusivo" value="Exclusivo" /><label>Si</label><br />
    </fieldset>
    <select name="categoria" style="width:300px">
        <option value="Frescos">Frescos</option>
        <option value="Congelados">Congelados</option>
        <option value="Hogar">Hogar</option>
        <option value="Textiles">Textiles</option>
        <option value="Tecnologia">Tecnologia</option>
    </select>
    <br /><br /> <textarea name="descripcion" cols="50" rows="10" style="color: red; text-align:center">
                Descripcion del producto...
           </textarea>
    <br /><br /><input type="submit" value="Guardar" style="width:300px; background-color: red; color: white" />
</form>
<p>@ViewBag.AltaProductOk</p>

