
@{
    ViewBag.Title = "FiltroProducto";
}

<h2>FiltroProducto</h2>
<p>VER PRODUCTOS POR CATEGORIA</p>
<form method="post" action="~/Producto/MostrarFiltrado">
    <select name="filtro" style="width:300px">
        <option value="1">Frescos</option>
        <option value="2">Congelados</option>
        <option value="3">Hogar</option>
        <option value="4">Textiles</option>
        <option value="5">Tecnologia</option>
    </select>
    <br /><input type="submit" value="MOSTRAR"style="width:300px; background-color: red; color: white"/>
</form>
<p>@ViewBag.Categoria</p>
