
@{
    ViewBag.Title = "AltaClienteEmpresaVista";
}

<h2>AltaClienteEmpresaVista</h2>
<form method="post" action="~/Cliente/AltaEmpresa">
    <p>ALTA CLIENTE COMUN</p>
    <label style="width:300px; text-align:center; color: black; font-family:'Agency FB'; font-size:18px">Nombre de la empresa</label><br />
    <input type="text" name="nombreEmpresa" style="width:300px" /><br />
    <label style="width:300px; text-align:center; color: black; font-family:'Agency FB'; font-size:18px">Razon Social</label><br />
    <input type="text" name="razonSocial" style="width:300px" /><br />
    <label style="width:300px; text-align:center; color: black; font-family:'Agency FB'; font-size:18px">RUT</label><br />
    <input type="text" name="rut" style="width:300px" /><br />
    <label style="width:300px; text-align:center; color: black; font-family:'Agency FB'; font-size:18px">Direccion</label><br />
    <input type="text" name="direccion" style="width:300px" /><br />
    <fieldset style="width:300px">
        <legend style="font-size:12px">Vive en Montevideo</legend>
        <input type="radio" name="departamento" value="1" /><label>Si</label><br />
        <input type="radio" name="departamento" value="2" /><label>No</label><br />
    </fieldset>
    <label style="width:300px; text-align:center; color: black; font-family:'Agency FB'; font-size:18px">Nombre User</label><br />
    <input type="text" name="nombreUser" style="width:300px" /><br />
    <label style="width:300px; text-align:center; color: black; font-family:'Agency FB'; font-size:18px">Mail</label><br />
    <input type="email" name="mail" style="width:300px" /><br />
    <label style="width:300px; text-align:center; color: black; font-family:'Agency FB'; font-size:18px">Password</label><br />
    <input type="password" name="password" style="width:300px" /><br />
    <label style="width:300px; text-align:center; color: black; font-family:'Agency FB'; font-size:18px">Fecha</label><br />
    <input type="date" name="fechaRegistro" style="width:300px" /><br />
    <input type="submit" value="Guardar" style="width:300px; background-color: red; color: white" />
</form>
<p>@ViewBag.AltaClienteEmpresa</p>
