
@{
    ViewBag.Title = "ClientesXfecha";
}

<h2>Clientes en las fechas:</h2>
<form method="post" action="~/Cliente/PasarFecha">
    <p>VER CLIENTES POR SU FECHA DE REGISTRO</p>
    <label style="width:130px; text-align:center; color: black; font-family:'Agency FB'; font-size:18px">Fecha Desde: </label><input type="date" name="fechaDesde" style="width:150px" /><br />
    <label style="width:130px; text-align:center; color: black; font-family:'Agency FB'; font-size:18px">Fecha Hasta: </label><input type="date" name="fechaHasta" style="width:150px" />
    <br /><input type="submit" value="VER" style="width:300px; background-color: red; color: white" />
</form>
<p>@ViewBag.MostrarPorFecha</p>
