
@{
    ViewBag.Title = "LoginVista";
}

<h2>LoginVista</h2>
<p style="color:red">INICIE SESION Y COMPRE EN "Habia Una Vez"!!!</p>
<form method="post" action="~/Login/RecibeDatos">
    <label style="width:300px; text-align:center; color: black; font-family:'Agency FB'; font-size:18px">Ingrese su mail</label><br />
    <input type="email" name="pMail" style="width:300px"/><br />
    <label style="width:300px; text-align:center; color: black; font-family:'Agency FB'; font-size:18px">Ingrese su password</label><br />
    <input type="password" name="pPass" style="width:300px"/><br /><br />
    <input type="submit" value="ENTRAR" style="width:300px; background-color: red; color: white"/>
</form>
<p>@ViewBag.Verifico</p>

